*{
    margin: 0;
    padding: 0;
    /* background-color: #0C0B08; */
}
body{
    background: #0C0B08;
    width: 100vw;
    overflow-x: hidden;
}
/* NAVIGATION AREA  */
nav{
    display: inline-flex;
    padding: 32px 120px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    /* color: #000000; */
    color: #FAFAFA;
    text-align: center;
    font-family: Cormorant Upright;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 57.2px */
    letter-spacing: 1.76px;
    text-transform: uppercase;
}

.menu{
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    list-style-type: none;
    margin-left: 100px;
}

.menu li{
    /* color: var(--FFFFFF, #000000); */
    color: #FAFAFA;
    /* Body 16px Regular */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 28px */
    letter-spacing: 0.64px;
}

.menu a{
    text-decoration: none;
    /* color: #000000; */
    color: #FAFAFA;
}

.nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
    left: 150px;
}

.nav-buttons h3 a {
    /* color: #000000; */
    color: white;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%; /* 28px */
    letter-spacing: 0.8px;
    /* text-transform: capitalize; */
    text-decoration: none;
}
.nav-svg svg{
    /* width: 300px; */
    height: 27px;
}

/* RESTAURANT AREA */
#restaurant-Home{
/* border-style: solid; */
padding: 80px;
}
#restaurant-Home2{
/* border-style: solid; */
padding: 50px;
margin-top: -90px;
}
#restaurant-Content{
/* border-style: solid; */
display: flex;
/* justify-content: center; */
position: relative;
margin-left: auto;
margin-right: auto;
}
#restaurant-Content h4{
margin-top: 100px;
margin-right: 150px;
/* color: #000000; */
color: white;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 31.5px */
letter-spacing: 0.72px;
transform: rotate(-90deg);
}
.content-left{
/* border-style: solid; */
position: relative;
right: 100px;
margin-top: 20px;
}
.content-left h3{
/* color: var(--FFFFFF, #000000); */
color: white;
font-variant-numeric: lining-nums tabular-nums;
/* H5 23px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 29.9px */
letter-spacing: 0.92px;
text-transform: capitalize;
}
.content-left svg{
width: 20px;
height: 30px;
/* transform: rotate(90deg); */
}
.content-left .text{
color: var(--DCCA87, #DCCA87);
/* H1 90px Cormorant Upright Semi */
font-family: Cormorant Upright;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 117px */
letter-spacing: 3.6px;
text-transform: capitalize;
}
.content-left h5{
color: var(--AAAAAA, #AAA);
/* Body 16px Regular */
font-family: Open Sans;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}
.content-left button{
border: none;
margin-top: 10px;
/* display: flex; */
padding: 8px 15px;
flex-direction: column;
justify-content: center;
align-items: center;
/* typogrpahy  */
color: #0C0B08;
/* Button */
font-family: Cormorant Upright;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
background: var(--DCCA87, #DCCA87);
}
.restaurant-Smalltext{
position: relative;
left: 12%;
margin-top: 20px;
text-align: center;
}
.content-right{
display: flex;
position: relative;
left: 13%;
/* border: solid; */

}
.content-right img{
 z-index: 1;
}
.rectangle1{
left: 80px;
Top: -20px;
position: absolute;
width: 235px;
height: 235px;
flex-shrink: 0;
background: var(--DCCA87, #DCCA87);
}
.rectangle2{
right: 80px;
bottom: -20px;
position: absolute;
width: 235px;
height: 235px;
flex-shrink: 0;
background: var(--DCCA87, #DCCA87);
}
/* MAIN SECTION  */

#Gshape{
display: flex;
position: relative;
justify-content: center;
}
#Gshape svg{
position: relative;
top: 50px;
width: 291px;
height: 250px;
flex-shrink: 0;
fill: #666666;
}

#Gshape img{
flex-shrink: 0;
position: absolute;
}

#Main-content{
display: flex;
padding: 40px;
background-image: url(images/malik-skydsgaard-jY9rX-E7ztU-unsplash\ 1.png);
/* padding: 60px; */
/* width: 100%vw; */
height: 400px;
flex-shrink: 0;
}
.Main-contentleft{
margin-top: 8%;
text-align: end;
}
.Main-contentleft h2{
color: var(--DCCA87, #DCCA87);
/* text-align: right; */
/* font-variant-numeric: lining-nums tabular-nums; */
/* H2 64px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 83.2px */
letter-spacing: 1.92px;
text-transform: capitalize;
}
.Main-contentleft p{
color: var(--AAAAAA, #AAA);
/* Body 16px Regular */
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}
.Main-contentleft button{
margin-top: 20px;
padding: 8px 15px;
/* flex-direction: column; */
/* justify-content: center; */
align-items: center;
background: var(--DCCA87, #DCCA87);
border: none;
color: var(--0C0C0C, #0C0C0C);
font-family: Cormorant Upright;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
background: var(--DCCA87, #DCCA87);
}
.Main-contentright{
    margin-top: 8%;
    text-align: start;
}
.Main-contentright h2{
color: var(--DCCA87, #DCCA87);
font-variant-numeric: lining-nums tabular-nums;
/* H2 64px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 83.2px */
letter-spacing: 1.92px;
text-transform: capitalize;
}
.Main-contentright p{
color: var(--AAAAAA, #AAA);
/* Body 16px Regular */
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}
.Main-contentright button{
margin-top: 20px;
padding: 8px 15px;
/* flex-direction: column; */
/* justify-content: center; */
align-items: center;
background: var(--DCCA87, #DCCA87);
border: none;
color: var(--0C0C0C, #0C0C0C);
font-family: Cormorant Upright;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
background: var(--DCCA87, #DCCA87);
}

/* DRINKS SECTION */
#Drinks{
    margin-top: 60px;
    padding: 50px;
}
#Drinks-heading{
    text-align: center;
}
#Drinks-heading h3{
color: var(--FFFFFF, rgb(255, 255, 255));
font-family: Cormorant Upright;
font-size: 15px;
font-style: normal;
font-weight: 200;
line-height: 130%;
letter-spacing: 0.92px;
text-transform: capitalize;
}
/* #Drinks-heading svg{
    width: 30px;
    height: 60px;
} */
#Drinks-heading h1{
color: var(--DCCA87, #DCCA87);
text-align: center;
font-family: Cormorant Upright;
font-size: 34px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 83.2px */
letter-spacing: 2.56px;
text-transform: capitalize;
margin-bottom: 20px;
}
#Drinks-section{
    display: flex;
    justify-content: center;
}
.Drinks-sectionleft{
    text-align: center;
}
.Drinks-sectionleft h2{
color: var(--FFFFFF, #FFF);
text-align: center;
font-variant-numeric: lining-nums tabular-nums;
/* H3 45px Cormorant upright Semi */
font-family: Cormorant Upright;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 58.5px */
letter-spacing: 1.8px;
text-transform: capitalize;
}
.Drinksleft-menu1 {
    padding: 19px;
}
.Drinksleft-menu1 ul li{
color: var(--DCCA87, #DCCA87);
font-variant-numeric: lining-nums tabular-nums;
/* H5 23px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 29.9px */
letter-spacing: 0.92px;
text-transform: capitalize;
}
.Drinksleft-menu1 ul p{
color: var(--AAAAAA, #AAA);
text-align: center;
/* Body 16px Regular */
font-family: Open Sans;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}
.Drinksleft-menu1 li{
    padding: 30px;
    list-style-type: none;
}
.Drinksleft-menu1 ul p{
    margin-top: -30px;
}
.Drink-sectionright{
    display: block;
    text-align: center;
}
.stroke-Drinks{
width: 50px;
height: 1px;
color: var(--FAFAFA, #FAFAFA);
background: var(--FAFAFA, #FAFAFA) ;
margin: 10px;
}
.Drinksleft-menu1 ul li , .Drinksright-menu2 ul li {
    display: flex;
    align-items: center;
}
.drinks-svg{
    position: absolute;
    z-index: 2;
    stroke-width: 2px;
    stroke: #ABABAB;
    opacity: 0.2;
    width: 2228px;
    height: 408px;
    flex-shrink: 0;
}
.Drinks-sectionright h2{
color: var(--FFFFFF, #FFF);
text-align: center;
font-variant-numeric: lining-nums tabular-nums;
/* H3 45px Cormorant upright Semi */
font-family: Cormorant Upright;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 58.5px */
letter-spacing: 1.8px;
text-transform: capitalize;
}
.Drinksright-menu2{
    padding: 19px;
    text-align: center;
}
.Drinksright-menu2 ul li{
color: var(--DCCA87, #DCCA87);
font-variant-numeric: lining-nums tabular-nums;
/* H5 23px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 29.9px */
letter-spacing: 0.92px;
text-transform: capitalize;
}
.Drinksright-menu2 ul p{
color: var(--AAAAAA, #AAA);
text-align: center;
/* Body 16px Regular */
font-family: Open Sans;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}
.Drinksright-menu2 li{
    padding: 30px;
    list-style-type: none;
}
.Drinksright-menu2 ul p{
    margin-top: -30px;
}

#Drinks-area button{
   display: flex;
}
#Drinks-btn button{
margin-left: auto;
margin-right: auto;
padding: 8px 15px;
background: var(--DCCA87, #DCCA87);
border: none;
color: var(--0C0C0C, #0C0C0C);
font-family: Cormorant Upright;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}

#Drinks-area{
    background: #0C0B08;
}
#Drinks-btn{
    margin-top: -90px;
    padding: 40px;
}

/* CHEFS AREA  */

#Chef{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /* position: relative; */
    padding: 100px;
    background-image: url(images/malik-skydsgaard-jY9rX-E7ztU-unsplash\ 1.png);
}

#Chefs-area{
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
}
.Chef-left{
    margin-right: 250px;
}

.rectangleONE{
right: 57%;
margin-top: -20px;
position: absolute;
width: 235px;
height: 235px;
flex-shrink: 0;
background: var(--DCCA87, #DCCA87);
}
.rectangleTWO{
right: 71.5%;
margin-top: 20%;
position: absolute;
width: 235px;
height: 235px;
flex-shrink: 0;
background: var(--DCCA87, #DCCA87);
}
.Chef-right{
    margin-left: 250PX;
    margin-top: 6%;
}
.Chef-right h2{
color: var(--FFFFFF, #ffffff);
font-variant-numeric: lining-nums tabular-nums;
/* H5 23px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 29.9px */
letter-spacing: 0.92px;
text-transform: capitalize;
padding-bottom: 10px;
}
.Chef-right h3{
color: var(--DCCA87, #DCCA87);
font-variant-numeric: lining-nums tabular-nums;

/* H2 64px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 34px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 83.2px */
letter-spacing: 1.92px;
text-transform: capitalize;
padding-bottom: 10px;
}
.Chef-right p{
color: var(--AAAAAA, #AAA);
font-family: Open Sans;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
padding-bottom: 10px;
}
.Chef-right h4{
color: var(--DCCA87, #DCCA87);
font-variant-numeric: lining-nums tabular-nums;
/* H4 32px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 41.6px */
letter-spacing: 1.28px;
text-transform: capitalize;

}
.Chef-right h5{
    color: var(--AAAAAA, #AAA);

/* Body 16px Regular */
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
padding-bottom: 20px;
}
.Chef-right img{
    width: 150px;
}

.Chef-left img{
    position: absolute;
    z-index: 1;
}

#Awards{
    /* padding: 20px; */
    margin-top: 10px;
    background-image: url(images/malik-skydsgaard-jY9rX-E7ztU-unsplash\ 1.png);
}

#Awards-main{
display: flex;
/* border-style: solid; */
justify-content: center;
}
.Awards-leftheading{
margin-left: 39px;
}
.Awards-leftheading h4{
color: var(--FFFFFF, #ffffff);
font-variant-numeric: lining-nums tabular-nums;
/* H5 23px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 29.9px */
letter-spacing: 0.92px;
text-transform: capitalize;
}
.Awards-leftheading svg{
width: 30px;
height: 40px;
}
.Awards-leftheading h2{
color: var(--DCCA87, #DCCA87);
font-variant-numeric: lining-nums tabular-nums;
/* H2 64px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 83.2px */
letter-spacing: 1.92px;
text-transform: capitalize;
}
.Awards-left{
    margin-right: 10%;
    margin-top: 5%;
}
.Awards-left img{
width: 50px;
height: 50px;
}
.award1{
    display: inline-flex;
    padding: 20px;
}
.award1 img{
    width: 50px;
    height: 50px;
}
.award1-mini{
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
}
.award1-mini h3{
color: var(--DCCA87, #DCCA87);
font-variant-numeric: lining-nums tabular-nums;
font-family: Cormorant Upright;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 29.9px */
letter-spacing: 0.92px;
text-transform: capitalize;
}
.award1-mini p{
color: var(--AAAAAA, #AAA);
/* Body 16px Regular */
font-family: Open Sans;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}

.award2{
    display: flex;
    padding: 20px;
}
.Awards-right{
    position: relative;
}
.Awards-right svg{
    position: absolute;
    top: 35%;
    right: 43%;
}

/* Gallery section  */
#Gallery{
    margin-top: 2%;
    background-color: black;
}
.Gallery-content{
    display: flex;
    justify-content: center;
}
.Gallery-left{
    margin-top: 5%;
    margin-right: 15px;
}
.Gallery-left h5{
color: var(--FFFFFF, #ffffff);
font-family: Cormorant Upright;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 29.9px */
letter-spacing: 0.92px;
text-transform: capitalize;
}
.Gallery-left svg{
width: 25px;
height: 40px;
}
.Gallery-left h3{
color: var(--DCCA87, #DCCA87);
font-family: Cormorant Upright;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 83.2px */
letter-spacing: 2.56px;
text-transform: capitalize;
}
.Gallery-left p{
color: var(--AAAAAA, #AAA);
/* Body 16px Regular */
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}
.Gallery-left button{
margin-top: 10px;
padding: 8px 15px;
background: var(--DCCA87, #DCCA87);
border: none;
color: var(--0C0C0C, #0C0C0C);
font-family: Cormorant Upright;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}
.Gallery-right img{
    margin: 20px;
}

#Find{
    background-image: url(images/malik-skydsgaard-jY9rX-E7ztU-unsplash\ 1.png);
    margin-top: 30px;
    padding: 30px;
}
.Find-content{
    display: flex;
    justify-content: center;
}
.Find-left{
    margin-right: 50px;
    padding: 20px;
}
.Find-left h5{
color: var(--FFFFFF, #000000);
font-family: Cormorant Upright;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 29.9px */
letter-spacing: 0.92px;
text-transform: capitalize;
}
.Find-left svg{
width: 20px;
height: 40px;
}
.Find-left h3{
color: var(--DCCA87, #DCCA87);
font-family: Cormorant Upright;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 83.2px */
letter-spacing: 2.56px;
text-transform: capitalize;
}
.Find-left p{
color: var(--AAAAAA, #908f8f);
/* Body 16px Regular */
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}
.Find-left h4{
color: var(--DCCA87, #DCCA87);
font-variant-numeric: lining-nums tabular-nums;
/* H5 23px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 29.9px */
letter-spacing: 0.92px;
text-transform: capitalize;
}
.Find-left button{
margin-top: 10px;
padding: 8px 15px;
background: var(--DCCA87, #DCCA87);
border: none;
color: var(--0C0C0C, #0C0C0C);
font-family: Cormorant Upright;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}
.Find-right{
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
}
/* .Find-right img{
    z-index: 10;
} */
.Find-rectangle1{
left: 80px;
Top: -20px;
position: absolute;
width: 235px;
height: 235px;
flex-shrink: 0;
background: var(--DCCA87, #DCCA87);
z-index: -1;
}
.Find-rectangle2{
right: 83px;
Top: 118px;
position: absolute;
width: 235px;
height: 235px;
flex-shrink: 0;
background: var(--DCCA87, #DCCA87);
z-index: -1;
}

/* NEWS LETTTER SECTION  */

#Newsletter{
border: 1px solid rgba(220, 202, 135, 0.20);
background: var(--0C0C0C, #0C0C0C);
/* Dark Card shadow */
/* box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.70); */
}
.Newsletter-content{
    margin-top: 10px;
    text-align: center;
    padding: 20px;
}
.Newsletter-content svg{
width: 20px;
height: 20px;
}
.Newsletter-content h2 , p , form {
    padding-bottom: 10px;
}
.Newsletter-content h4{
color: var(--FFFFFF, #ffffff);
font-variant-numeric: lining-nums tabular-nums;
/* H5 23px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 29.9px */
letter-spacing: 0.92px;
text-transform: capitalize;
}
.Newsletter-content h2{
color: var(--DCCA87, #DCCA87);
text-align: center;
font-variant-numeric: lining-nums tabular-nums;
/* H2 64px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 83.2px */
letter-spacing: 1.92px;
text-transform: capitalize;
}
.Newsletter-content {
color: #ffffff;
text-align: center;
/* Body 16px Regular */
font-family: Open Sans;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}

/* FORM AREA  */

#form-area form{
    justify-content: center;
}

form input{
   text-align: start;
    width: 20%;
    padding: 11px;
border-color: #f0e0a8;
color: var(--AAAAAA, #AAA);
text-align: center;
font-variant-numeric: lining-nums tabular-nums;
background-color: #0C0B08;

/* H6 16px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
text-transform: capitalize;
}
form button{
color: var(--0C0C0C, #0C0C0C);
/* Button */
font-family: Cormorant Upright;
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;

padding: 8px 32px;
justify-content: center;
align-items: center;
gap: 10px;

border: 1px solid var(--DCCA87, #DCCA87);
background: var(--DCCA87, #DCCA87);
}

/* FIRST FOOTER  */

.footerOne-inside{
    text-align: center;
}
#footer1{
    justify-content: center;
    margin-top: 40px;
    display: flex;
    margin-right: 30px;
}

.footerOne{
    padding-right: 20px;
}
.footerOne svg{
width: 20px;
height: 10px;
}

.footerOne h5 , h4{
    color: var(--F5EFDB, #F5EFDB);
font-variant-numeric: lining-nums tabular-nums;

/* H4 32px Cormorant Upright */
font-family: Cormorant Upright;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 41.6px */
letter-spacing: 1.28px;
text-transform: capitalize;
}
.footerOne p{
color: var(--AAAAAA, #AAA);
text-align: center;

/* Body 16px Regular */
font-family: Open Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}
.footerOne h2{
color: var(--DCCA87, #DCCA87);
text-align: center;
font-family: Cormorant Upright;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 83.2px */
letter-spacing: 2.56px;
text-transform: uppercase;
}

#footer2{
margin-top: 30px;
position: relative;
left: 30px;
color: var(--AAAAAA, #AAA);
text-align: center;
/* Body 16px Regular */
font-family: Open Sans;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 28px */
letter-spacing: 0.64px;
}

.RestuarantView{
    position: relative;
    margin-top: 10px;
}
.PlayBtn{
    position: absolute;
    top: 13em;
    left: 37em;
}
.TheonlyFooter{
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(images/malik-skydsgaard-jY9rX-E7ztU-unsplash\ 1.png);
    width: 1280px;
height: 300px;
flex-shrink: 0;
}